:root {
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F172B;

  --red: #ef233c;
  --vert: #009970;
  --darkred: #163044;
  
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

.card-body .card-title {
  color: var(--darkred);
}

*{
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
  /* font-family: 'Poppins', 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  

}

/*
.navbar {
    background-color: #023a04;

}
*/

/* #carouselExampleIndicators {
  position: relative;
  margin-bottom: 25%;


} */

#navigation {
  padding: 0;
  transition: 0.5s all;
  


}

#navigation .logo {
  padding: 17px 30px;
  background-color: var(--darkred);
}

#navigation .logo a {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

#navigation #navbarNavAltMarkup {
  background-color: #fff;
}

#navigation #navbarNavAltMarkup a {
  display: block;
  position: relative;
  color: #36343a;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all;
}

#navigation #navbarNavAltMarkup a:hover {

  color:  var(--darkred);
  border-radius: 15px;
  text-decoration: none;
}

#navigation #get-started {
  /* padding: 17px 30px; */
  background-color: var(--vert);
}

#navigation #get-started a {
  background-color: var(--vert);
  color: #fff;
  padding: 10px;
  /* margin: 0 15px;  */
}



/* import bootstrap  */
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #009970;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}

.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}


/* section */

.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}

.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4,
.team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* contacct */

.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

/* sectin contact */
section#contact {
  background-color: #212529;
  background-image: url("/media/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}

section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}

section#contact form#contactForm .form-group input.form-control {
  height: auto;
}

section#contact form#contactForm .form-group-textarea {
  height: 100%;
}

section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}

section#contact form#contactForm p.help-block {
  margin: 0;
}

section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}

section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

.text-center {
  text-align: center !important;
}

/* carousel */
.slider {
  margin-bottom: 20px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #52c234;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061700, #52c234);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;

}




/* card scroll */
.cards {
  display: flex;
  padding: 10px 0px;
  list-style: none;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.carte {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 10px;
  background: var(--dark);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.carte:not(:last-child) {
  margin-right: 10px;
}

/* color */
.carte:hover {
  color: var(--white);
  background: var(--vert);
}

.carte .carte-title {
  font-size: 20px;
}

.carte .carte-content {
  margin: 20px 0;
  max-width: 85%;
}

.carte .carte-link-wrapper {
  margin-top: auto;
}

.carte .carte-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--vert);
  padding: 6px 15px;
  border-radius: 8px;
  transition: background 0.2s;
}

.carte:hover .carte-link {
  background: var(--primary);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .carte {
      flex-basis: calc(50% - 10px);
  }

  .carte:not(:last-child) {
      margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .carte {
      flex-basis: calc(calc(100% / 3) - 20px);
  }

  .carte:not(:last-child) {
      margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .carte {
      flex-basis: calc(25% - 30px);
  }

  .carte:not(:last-child) {
      margin-right: 40px;
  }
}

.hero {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(45deg, #6ac1c5, #bda5ff); */
  position: relative;
  /* margin: 0px; */

}

#calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
