{% extends 'base.html' %}

{% block contenu %}


<div class="container text-center mt-4 pt-5 shadow p-3 mb-5 bg-body rounded">

    <div class="row gx-4 gx-lg-5 align-items-center my-5 ">

        {% for head in header %}
        <!-- Background image -->
        <div class="bg-image" style="
  background-image: url(' {{ head.image.url}} '); height: 50vh;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <h1 class="display-4 text-light">{{ head.titre }}</h1>
                </div>
            </div>
        </div>
        <!-- Background image -->
        <br>
        <p class="lead text-muted">{{ head.contenu }}</p>

        {% endfor %}
    </div>
</div>


<div class="container text-center">
    <h1 class="display-4 pt-3">Merci vous étes membre du dahira</h1>
</div>



{% endblock %}